.idea #pycharm files
*.log #ignore all logs
__pycache__/ #pycharm cache files
.pytest_cache #pytest cache files

#compiled codes
.o
.pyc
.class

#hidden system file
.DS_Store
Thumbs.db
.Rproj.user

#file copies 
._*
.asv

#large files 
